<header class="header-container">
  <div class="brand">Sneakers<br />Factory</div>

  <nav class="nav-buttons">
    <button (click)="dashBoard()">Dashboard</button>
    <button (click)="newOrder()">+ New Order</button>
    <button (click)="addSneakerModel()">Add Model</button>
    <button>Update Inventory</button>
    <button>Dispatch Order</button>
    <button>Track Order</button>
  </nav>

<div class="user-profile" (click)="toggleDropdown($event)">
  <i class="bi bi-person-circle"></i>
  <div class="dropdown-menu" *ngIf="dropdownOpen" (click)="$event.stopPropagation()">
    <button (click)="logout()">Logout</button>
  </div>
</div>

</header>
