* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  min-height: 100vh;
  box-sizing: border-box;

  background-image: url('assets/images/background.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
